body {
  font-family: Verdana, Geneva, sans-serif;
  max-width: 960px;
  margin: auto;
  font-size: 1.3em;
}

h1, h2 {
  font-family: Georgia, Times, "Times New Roman",serif;
}

.message {
  color: red;
  font-weight: bold;
}

li {
  list-style-type: none;
}

.explanation {
  /* Using negative margin to place explanatory text under a form field.
   * Bootstrap adds 15px margin to the bottom of the div containing
   * each form field.
   */
  margin-top: -14px;
  font-size: .9em;
  color: #a9a9a9;
  font-style: italic;
}

.edit-link,
.delete-link {
  font-size: 0.7em;
}