body {
  font-family: Verdana, Geneva, sans-serif;
  max-width: 960px;
  margin: auto;
  font-size: 1.3em;
}

h1, h2 {
  font-family: Georgia, Times, "Times New Roman",serif;
}

.message {
  color: red;
  font-weight: bold;
}

.action-btn {
  display: inline;
}

li {
  list-style-type: none;
}