{% extends "base.html" %}
{% block title %}{{ super() }} About{% endblock %}
{% block main %}
<h2 class="page-title">About Link Collector</h2>
<hr>
<p class="info">Link Collector is a project for Udacity's Full Stack Web Developer Nanodegree created by Kelli McMillan.
The code for Link Collector is on <a href="https://github.com/kellim/link-collector">GitHub</a>.</p>

<p class="info">The assignment was to create an item catalog, so I chose links for my items. I have come across so many links related to different programming languages, frameworks, courses, etc, that I am always looking for ways to organize and share these links.</p>

<p class="info">Part of the assignment included others being able to add and edit their own items, or in this case, links. This is great, because I'm always on the lookout for new and interesting links!</p>

{% include "csrftoken.html" %}
{% endblock %}