{% extends "base.html" %}
{% block content %}
  <h2>Delete Category: {{ category.name }}</h2>
  <div class="delete">
    <form action="{{ url_for('delete_category', collection=collection.path,
                  category=category.path) }}" method="POST">
      Are you sure you want to delete {{ category.name }}?<br>
      {% if links.count() >= 1 %}
        This category has <a href="{{ url_for('show_category_links', collection=collection.path, category=category.path) }}">{{ links.count() }} link{% if links.count() > 1 %}s{% endif %}</a> that will be deleted along with this category.
      {% endif %}
       This action cannot be undone!<br>
      <input type="submit" name="delete-btn" value = "Delete">
      <input type="submit" name="cancel-btn" value = "Cancel"></p>
    </form>
  </div>
{% endblock %}