{% extends "base.html" %}
{% block content %}
  <h2>New Category</h2>
  <div class="edit">
        <form action="{{ url_for('new_category', collection=collection) }}" method="POST">
            <label>Name: <input type="text" name="cat-name"></label><br>
            <label>Description: <textarea name="cat-desc"></textarea><br>
            <label>Path: <input type="text" name="cat-path"></label><br>
            <span class="explanation">The path should be a single word that will be used in the url to represent the category.</span>
            <input type="submit" name="submit-btn" value = "Submit">
            <input type="submit" name="cancel-btn" value = "Cancel">
        </form>
    </div>
{% endblock %}