{% extends "base.html" %}
{% block title %}{{ super() }} New Collection{% endblock %}
{% block main %}
  <script src="{{url_for('.static', filename='new-container.js')}}"></script>
  {{ super() }}
{% endblock %}
{% block content %}
  <h2>New Collection</h2>
  <div class="edit">
        <form action="{{ url_for('new_collection') }}" method = "POST">
          {{ form.csrf_token }}
          {{ wtf.form_field(form.name) }}
          {{ wtf.form_field(form.path) }}
          <p class="explanation">Path should be a single word (or multiple words separated by hyphens) that will be used in the link to the collection's page.</p>
          {{ wtf.form_field(form.description, rows=5) }}
        <input class="btn btn-primary" type="submit" name="submit-btn" value="Submit">
        <a class="btn btn-default" href="{{ url_for('index') }}">Cancel</a>
        </form>
    </div>

{% endblock %}
