  <!-- Collection Delete Modal -->
  <div class="modal fade" id="collectiondelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="myModalLabel2">Delete Collection: {{ selected_coll.name }}</h3>
        </div>
        <div class="modal-body">
            <p class="delete-warning"><strong>Are you sure you want to delete the collection {{ selected_coll.name }}?</strong></p>
            {% if cats and cats.count() >= 1 %}
              <p> This collection has {{ cats.count() }} {% if cats.count() > 1 %} categories {% else %} category {% endif %}
              that will be also deleted, along with any associated links.</p>
            {% endif %}
            <p>This action cannot be undone!</p>
        </div>
        <div class="modal-footer">
          <form class="form-delete" action="{{ url_for('delete_collection', collection=selected_coll.path) }}" method="POST">
            <button class="btn btn-danger" type="submit" name="delete-btn">Delete</button>
          </form>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>