{% extends "base.html" %}
{% block title %}{{ super() }} Contact Us{% endblock %}
{% block main %}
<h2 class="page-title">Contact Us</h2>
<hr>
<p class="info">Please let us know of any questions or issues with the site by filling out the form below.</p>
<p class="info">Also, please do not include any sensitive information on the form.</p>
 <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc06qpQF5rdDpmnMqpPtFH-BtFV6D-sMIK9CUXSG-CYEmnu7A/viewform?embedded=true" width="625" height="822" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
 {% include "csrftoken.html" %}
{% endblock %}