{% extends "base.html" %}
{% block title %}{{ super() }} Collections{% endblock %}
{% block main %}
  <p class="lead">Choose a link collection below to view categories and links for that collection.</p>
  <ul>
    {% if collections %}
      {% for coll in collections %}
        <li class="coll main-item"><a href="{{ url_for('show_category_links', collection=coll.path) }}">{{ coll.name }}</a><br>
        {{ coll.description }}<br>
          <form class="action-btn" action="{{ url_for('edit_collection', collection=coll.path) }}" method = 'get'>
            <input type='submit', value = 'Edit'>
          </form>
          <form class="action-btn" action="{{ url_for('delete_collection', collection=coll.path) }}" method = 'get'>
            <input type='submit', value = 'Delete'>
          </form>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
{% endblock %}