{% extends "base.html" %}
{% block content %}
<div class="sidebar">
  <a href="{{ url_for('new_collection') }}">Create new collection</a>
</div>
{% include "flashmessages.html" %}
<div class="collections">
  <ul>
    {% if collections %}
      {% for coll in collections %}
        <li class="coll"><a href="{{ url_for('show_category_links', collection=coll.path) }}">{{ coll.name }}</a><br>
        {{ coll.description }}<br>
          <form class="action-btn" action="{{ url_for('edit_collection', collection=coll.path) }}" method = 'get'>
            <input type='submit', value = 'Edit'>
          </form>
          <form class="action-btn" action="{{ url_for('delete_collection', collection=coll.path) }}" method = 'get'>
            <input type='submit', value = 'Delete'>
          </form>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
</div>
{% endblock %}