{% extends "base.html" %}
{% block title %}{{ super() }} Collections{% endblock %}
{% block main %}
  <h2 class="page-title">Link Collections</h2>
  <small><em>Link collections hold associated categories and links.</em></small>
  <hr>
  {% if collections.count() >= 1 %}
    {% set count = 1 %}
    {% for coll in collections %}
      {% if count % 2 == 1 %}
        <div class="row">
      {% endif %}
          <div class="coll col-sm-6">
            <h2 class="coll-name">
              <a href="{{ url_for('show_category_links', collection=coll.path) }}">{{ coll.name }}</a>
              <a href="{{ url_for('edit_collection', collection=coll.path) }}"><span class="sr-only">Edit Collection:</span><span class="fa fa-pencil update" aria-hidden="true"></span></a>
              <a href="/_del-coll/{{ coll.path }}" data-target="#collectiondelete"><span class="sr-only">Delete Collection:</span><span class="fa fa-trash-o update" aria-hidden="true"></span></a>
            </h2>
            {{ coll.description }}
          </div>
      {% if count % 2 == 0 or count == collections.count() %}
        </div>
      {% endif %}
        {% set count = count + 1 %}
    {% endfor %}
    <div class="col-sm-12 text-center">
      <a class="btn btn-primary btn-add" href="{{ url_for('new_collection') }}">Add New Collection</a>
    </div>
  {% else %}
    <p class="lead text-center">There are currently no Collections.</p>
    <p class="text-center">
      <a class="btn btn-primary btn-lg" href="{{ url_for('new_collection') }}">Add New Collection</a>
    </p>
  {% endif %}
  {% block modal %}
    {% if selected_coll %}
      {% include "collectiondelete.html" %}
    {% endif %}
  {% endblock %}
{% endblock %}
