{% extends "base.html" %}
{% block title %}{{ super() }} New Link{% endblock %}
{% block main %}
  <h2>Add Link</h2>
  <div class="edit">
    <form class="form-horizontal" action="{{ url_for('new_link', collection=collection, category=category, selected_coll=selected_coll, selected_cat=selected_cat) }}" method = "POST">
      {{ form.csrf_token }}
      {{ wtf.form_field(form.name, form_type="horizontal", horizontal_columns=('sm', 2, 10)) }}
      {{ wtf.form_field(form.url, form_type="horizontal", horizontal_columns=('sm', 2, 10)) }}
      {{ wtf.form_field(form.description, form_type="horizontal", horizontal_columns=('sm', 2, 10), rows=5) }}
      <div class="col-sm-offset-2 col-sm-10 form-buttons">
        <input class="btn btn-primary" type="submit" name="submit-btn" value = "Submit">
        <a class="btn btn-default" href="{{ url_for('show_category_links', collection=collection, category=category) }}">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}