{% extends "base.html" %}
{% block title %}{{ super() }} Links{% endblock %}
{% block main %}
  <h2>{{ selected_cat.name }}
    <a href="{{ url_for('edit_category', collection=selected_coll.path, category=selected_cat.path) }}"><span class="sr-only">Edit Category</span><span class="fa fa-pencil" aria-hidden="true"></a>
    <a href="{{ url_for('delete_category', collection=selected_coll.path, category=selected_cat.path) }}"><span class="sr-only">Delete Category</span><span class="fa fa-trash-o" aria-hidden="true"></a>
  </h2>
      <p>{{ selected_cat.description }}</p>
    <div class="links">
      {% if links %}
      <ul>
        {% for link in links %}
          <li class="link main-item">
            <a href="{{ link.url }}" target="_blank" rel="nofollow">{{ link.name }}</a> - {{ link.description }}
            <a class="edit-link" href="{{ url_for('edit_link', collection=collection, category=selected_cat.path, link_id=link.link_id) }}">Edit</a>
            <a class="delete-link" href="{{ url_for('delete_link', collection=collection, category=selected_cat.path, link_id=link.link_id) }}">Delete</a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
      <a href="{{ url_for('new_link', collection=collection, category=selected_cat.path) }}">Add New Link</a>
    </div>
{% endblock %}