{% extends "base.html" %}
{% block content %}
  <h2>Add Link</h2>
  <div class="edit">
  <div class="edit">
    <form action="{{ url_for('new_link', collection=collection, category=category) }}" method = "POST">
      {{ form.csrf_token }}
      {{ form.name.label }} {{ form.name }}
      {% for error in form.name.errors %}
        <br><span class="field-error">{{ error }}</span>
      {% endfor %}
      <br>
      {{ form.url.label }} {{ form.url }}
      {% for error in form.url.errors %}
        <br><span class="field-error">{{ error }}</span>
      {% endfor %}
      <br>
      {{ form.description.label }} {{ form.description (rows = 4) }}
      {% for error in form.description.errors %}
        <br><span class="field-error">{{ error }}</span>
      {% endfor %}
      <br>
      <input type="submit" name="submit-btn" value = "Submit">
      <input type="submit" name="cancel-btn" value = "Cancel">
        </form>
    </div>
    </div>
{% endblock %}