{% extends "base.html" %}
{% block title %}{{ super() }} Edit Link{% endblock %}
{% block main %}
  <h2>Edit Link: {{ selected_link.name }}</h2>
  <div class="edit">
    <form class="form-horizontal" action="{{ url_for('edit_link', collection=selected_coll.path, category=selected_cat.path, link_id=selected_link.link_id) }}" method = "POST">
      {{ form.csrf_token }}
      {% if request.method == "GET" %}
        {{ wtf.form_field(form.name, form_type="horizontal", horizontal_columns=('sm', 2, 10), value = selected_link.name) }}
        {{ wtf.form_field(form.url, form_type="horizontal", horizontal_columns=('sm', 2, 10), value = selected_link.url) }}
      {% else %}
        {{ wtf.form_field(form.name, form_type="horizontal", horizontal_columns=('sm', 2, 10)) }}
        {{ wtf.form_field(form.url, form_type="horizontal", horizontal_columns=('sm', 2, 10)) }}
      {% endif %}
      {{ wtf.form_field(form.description, form_type="horizontal", horizontal_columns=('sm', 2, 10), rows=5) }}
      <div class="col-sm-offset-2 col-sm-10 form-buttons">
        <input class="btn btn-primary" type="submit" name="submit-btn" value="Submit">
        <a class="btn btn-default" href="{{ url_for('show_category_links', collection=selected_coll.path, category=selected_cat.path) }}">Cancel</a>
      </div>
        </form>
    </div>
{% endblock %}