{% if collections and collections.count() >= 1 %}
  <!-- Collections sidebar panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Select Collection</h3>
    </div>
    <div class="panel-body">
      <form id="frm-select-coll" action="{{ url_for('select_collection') }}" method="POST">
      <select id="select-coll" name="select-coll" class="form-control">
        {% for coll in collections %}
          <option value="{{ coll.path }}"
                  {% if selected_cat and coll == selected_coll %}selected="selected"{% endif %}>{{ coll.name }}
          </option>
        {% endfor %}
      </select>
      </form>
    </div>
  </div>
{% endif %}

{% if categories %}
  <!-- Categories sidebar panel -->
  {% if categories.count() >= 1 %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
      </div>
      <div class="panel-body">
        <ul class="sidebar-list">
            {% for cat in categories %}
              {% if cat.path != selected_cat.path %}
                <li class="unselected-cat">
                  <a href="{{ url_for('show_category_links', collection=selected_coll.path, category=cat.path) }}">{{ cat.name }}</a>
                </li>
              {% else %}
                <li class="selected-cat">
                  <span class="sr-only">Current Category</span>
                  <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                  {{ cat.name }}
                </li>
              {% endif %}
            {% endfor %}
        </ul>
        <div class="add-cat">
        {% if is_admin %}
          <a class="btn btn-primary" href="{{ url_for('new_category', collection=selected_coll.path) }}">Add New Category</a>
        {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}

<!-- Link Collector sidebar panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Link Collector</h3>
  </div>
  <div class="panel-body">
    <ul class="sidebar-list">
      <li>This is a demo of Link Collector, a project by Kelli McMillan for Udacity's Full Stack Web Developer Nanodegree.</li><br>
      <li><a href="https://github.com/kellim/link-collector">View Code on GitHub</a></li>
    </ul>
    </div>
</div>




